.category:not(:last-of-type) {
  margin-right: 16px;
}

.imageContainer {
  & img {
    max-width: 368px;
  }
}

.title::first-letter {
  text-transform: capitalize;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #313237;
  margin: 24px 0 4px 0;
}

.quantity {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #89939a;
}

@media (max-width: 1200px) {
  .imageContainer {
    & img {
      max-width: 245px;
    }
  }
}

@media (max-width: 800px) {
  .imageContainer {
    & img {
      max-width: 145px;
    }
  }

  .title {
    margin: 5px 0 4px 0;
  }
}
