.productCard {
  border: 1px solid #e2e6e9;
  max-width: 272px;
  padding: 32px 24px 24px 24px;
  transition: all 0.3s;

  & a {
    cursor: pointer;
  }
  &:hover {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
  }
}

.imageContainer {
  & img {
    max-width: 222px;
  }
}

.name {
  height: 45px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #313237;
  margin: 20px 0 7px 0;
}

.price {
  display: flex;
  font-size: 22px;
  line-height: 28px;
  color: #313237;
}

.discount {
  font-weight: 700;
  margin-right: 8px;
}

.initial {
  font-weight: 500;
  text-decoration-line: line-through;
  color: #89939a;
}

.divider {
  width: 100%;
  border-bottom: 1px solid #e2e6e9;
  margin: 7px 0 16px 0;
}

.description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  color: #313237;
  margin-bottom: 16px;
}

.property {
  color: #89939a;
}

@media (max-width: 1200px) {
  .productCard {
    margin: 0 auto;
    padding: 10px 10px 20px 10px;
  }
}
