.sliderWrapper {
  :global(.swiper) {
    padding-top: 50px;
  }

  :global(.swiper-button-next) {
    right: 0;
  }

  :global(.swiper-button-prev) {
    right: 50px;
    left: auto;
  }

  :global(.swiper-button-prev),
  :global(.swiper-button-next) {
    top: 25px;
    border: 1px solid #b4bdc3;
    width: 32px;
    height: 32px;

    &:hover {
      border: 1px solid #000;
    }
  }

  :global(.swiper-button-prev:after),
  :global(.swiper-button-next:after) {
    font-size: 14px;
    font-weight: bold;
    color: #000;
  }
}

@media (max-width: 768px) {
  .sliderWrapper {
    padding: 50px 20px 0 20px;
  }
}
