.root {
  position: relative;
  height: 64px;

  & input {
    padding: 0 24px;
    height: 100%;
    width: 327px;
    border: none;
    border-left: 1px solid #e2e6e9;
    background-color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;

    &::placeholder {
      color: #b4bdc3;
    }

    &:focus {
      outline: none;
      background-color: #fafbfc;
    }
  }
}

.icon {
  opacity: 0.3;
  position: absolute;
  right: 14px;
  top: 24px;
}

.clearIcon {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  position: absolute;
  right: 15px;
  top: 24px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

@media (max-width: 1050px) {
  .root {
    max-width: 200px;
    margin-right: 50px;

    & input {
      padding: 0 7px;
      width: 200px;
      border-right: 1px solid #e2e6e9;
    }
  }
}

@media (max-width: 500px) {
  .root {
    margin: 0 auto;

    & input {
      border-right: unset;
      border-left: unset;
    }
  }

  .icon {
    right: 10px;
    top: 20px;
  }
}
